<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="renderer" content="webkit" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, viewport-fit=cover" />
<meta
  name="description"
  content="{{ if .IsHome }}{{ $.Site.Params.Subtitle }}{{ else }}{{ .Summary | plainify }}{{ end }}"
/>
<meta
  name="keywords"
  content="{{ with .Params.Keywords }}{{ delimit . ", " }}{{ else }}{{ $.Site.Params.Keywords }}{{ end }}"
/>
<meta name="robots" content="noodp" />
<meta name="color-scheme" content="light dark" />
<meta name="theme-color" content="#fd281a" />
<link rel="canonical" href="{{ .Permalink }}" />

<!-- head customC8102E -->
{{- partial "prepended_head.html" . }}

<!-- Theme CSS -->
<link rel="stylesheet" href="{{ "assets/style.css" | absURL }}" />
<!-- Custom CSS to override theme properties (/static/style.css) -->
<link rel="stylesheet" href="{{ "style.css" | absURL }}" />

<!-- Icons -->
<link
  rel="apple-touch-icon"
  href="/apple-touch-icon.png"
/>
<link rel="shortcut icon" href="/ming.ico" />
<link rel="manifest" href="/manifest.json" />

<link rel="stylesheet" href="https://npm.elemecdn.com/lxgw-wenkai-screen-webfont@1.7.0/style.css" media="print" onload="this.media='all'">

<!-- Fonts -->
<!-- <link href="{{ "assets/fonts/Inter-Italic.woff2" | absURL }}" rel="preload" type="font/woff2" as="font" crossorigin=""> -->
<!-- <link href="{{ "assets/fonts/Inter-Regular.woff2" | absURL }}" rel="preload" type="font/woff2" as="font" crossorigin=""> -->
<!-- <link href="{{ "assets/fonts/Inter-Medium.woff2" | absURL }}" rel="preload" type="font/woff2" as="font" crossorigin=""> -->
<!-- <link href="{{ "assets/fonts/Inter-MediumItalic.woff2" | absURL }}" rel="preload" type="font/woff2" as="font" crossorigin=""> -->
<!-- <link href="{{ "assets/fonts/Inter-Bold.woff2" | absURL }}" rel="preload" type="font/woff2" as="font" crossorigin=""> -->
<!-- <link href="{{ "assets/fonts/Inter-BoldItalic.woff2" | absURL }}" rel="preload" type="font/woff2" as="font" crossorigin=""> -->
<link rel="preload" href="//at.alicdn.com/t/font_2858056_rpjqaqfi5ie.woff2" as="font" type="font/woff2" crossorigin="anonymous">
<style>
  @font-face {
  font-family: "iconfont"; /* Project id 2858056 */
  src: url('//at.alicdn.com/t/font_2858056_rpjqaqfi5ie.woff2') format('woff2'),
       url('//at.alicdn.com/t/font_2858056_rpjqaqfi5ie.woff2') format('woff'),
       url('//at.alicdn.com/t/font_2858056_rpjqaqfi5ie.woff2') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-twitter:before {
  content: "\e88a";
}
.icon-weibo:before {
  content: "\e88b";
}
.icon-mail:before {
  content: "\e743";
}
.icon-facebook:before {
  content: "\eb8d";
}
.icon-github:before {
  content: "\e673";
}
.icon-instagram:before {
  content: "\e81e";
}
  body {
   /* Screen version */
   font-family: "LXGW WenKai Screen", sans-serif;
}
</style>


<!-- Twitter Card -->
{{ template "_internal/twitter_cards.html" . }}

<!-- OG data -->
{{ template "_internal/opengraph.html" . }}

<!-- RSS | JSON -->
{{ range .AlternativeOutputFormats -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
{{ end -}}

<!-- head custom -->
{{- partial "extended_head.html" . }}
{{- partial "analytics.html" . }}
