.footer {
  padding: 40px 20px;
  flex-grow: 0;
  color: var(--color-secondary);

  &__inner {
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 100%;

    @media (--tablet) {
      flex-direction: column;
    }
  }

  &__title {
    margin: 0!important;
    display: flex;
    text-align: center;
    position: relative;
  }

  &__title-h {
    text-align: center;
    margin: 0 auto;
    font-size: .8rem;
    letter-spacing: .1em;
    z-index: 1;

    a {
      color: inherit;
      text-decoration: none;
    }

    i {
      font-size: 2.1rem!important;
      margin: 0 5px!important;
      color: #363636;
      transition: fill 120ms ease-in-out;

      :hover {
        color: var(--theme-color);
      }
    }

  }

  a {
    color: inherit;
  }

  .copyright {
    flex-direction: row;
    align-items: center;
    font-size: 1rem;

    &--user {
      margin: auto;
      text-align: center;
    }

    & > *:first-child:not(:only-child) {
      border-right: 1px solid;
      padding-right: 10px;
      margin-right: 10px;

       @media (--tablet) {
        border: none;
        padding: 0;
        margin: 0;
      }
    }

    @media (--tablet) {
      flex-direction: column;
      margin-top: 10px;
    }
  }
}
